 #header {
    background: url(images/clouds.gif); 
    width: 100%;
    text-align: center;
    height: 10rem;
    
}

#current {
    text-align: center;
}

#five {
    text-align: center;
    
}
#history {
    text-align: center;
    
}

li  {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

ul {
    padding-left: 0%;
}


