 #header {
    background: linear-gradient(270deg, rgb(169, 250, 173) 0%, rgb(67, 169, 252) 100%);   
    width: 100%;
    text-align: center;
    height: 8rem;
    
}

#current {
    text-align: center;
}

#five {
    text-align: center;
    
}

/* #fiveDay {
    background-color: blue;
} */