.container {
    background: linear-gradient(360deg, rgb(169, 250, 173) 0%, rgb(23, 77, 156) 100%);
    background-size: cover;
    font-family: 'Lora', serif;
    
}


.col-md-12 {
    background-image: url(images/cloud2.gif); 
    background-size: cover;
    width: 100%;
    text-align: center;
    height: 9rem;
    border-radius: 40%;
    box-shadow: 0 0 6px 6px rgb(23, 77, 156) inset;
    color: white;
    
    
    
    
}

#current {
    text-align: center;
    padding-top: 1rem;
}

#five {
    text-align: center;
    padding-top: 1rem;
    
}
#history {
    text-align: center;
    padding-top: 1rem;
    
}

#mapH {
    text-align: center;
    padding-top: 1rem;
    
}

li  {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

ul {
    padding-left: 0%;
}

.clickMe {
    color: rgb(13, 13, 180);
    cursor: pointer;
    text-decoration: underline;
}


#map {
    height: 400px;
    width: 100%;
    text-align: center;
}


h4 {
    color: white;
}